.review_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.review_form input {
    width: 200px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

.review_submit_button {
    font-size: 15px;
    border: none;
    padding: 2px;
    margin-top: 10px;
    width: 200px;
}

.review_stars {
    margin-bottom: 15px;
}

.fa-star-form {
    font-size: 23px;
}
