.drinks_container {
  /* width: 97vw; */
  /* background-color: white; */
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 35px;
  /* padding: 20px; */
}
