.review {
   width: 500px;
   box-sizing: border-box;
   box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
   padding: 20px;
   margin: 15px 30px;
}
.review_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review_username {
    display: flex;
    flex-direction: column;
}

.review_comment span{
    color: gray
}
