.review {
   width: 500px;
   box-sizing: border-box;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
   padding: 20px;
   margin: 15px 30px;

}
.review_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review_username {
    display: flex;
    flex-direction: column;
}

.review_comment span{
    color: gray
}

.review_footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.review_img_container_center {
    display: flex;
    justify-content: center;
}

.review_img_container {
    margin-top: 25px;
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.review_img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 20px 20px 20px 20px;

  /* border-radius: 20px 20px 0 0; */
}
