.fa-plus-circle {
    z-index: 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 50px;
    color: white;
    transition: 330ms ease;
}

.fa-plus-circle:hover {
    transform: scale(1.1);
}
