*, h5, p, span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.card {
  /* margin: 20px; */
  border: 1px solid gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 0 0;
  /* height: 500px;
    width: 400px; */
}

h5 {
  font-size: 30px;
}
.card_img_container {
  height: 350px;
}

.card_img {
  /* overflow: hidden; */
  object-fit: cover;
  /* align-self: center; */
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card_details {
  line-height: 1.5;
  padding: 15px;
  font-size: 20px;
  background: lightgray;
  height: 250px;
  /* margin: 10px 0 15px 0; */
}

.card_reviews {
  padding: 15px;
  display: flex;
  justify-content:space-between;
  background-color: lightgray;
  border-bottom: 2px solid gray;
}
