

.signup-form {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.signup-form input {
    width: 200px;
    margin-bottom: 15px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

.signup-button {
    font-size: 15px;
    border: none;
    padding: 2px;
    margin-top: 10px;
    width: 200px;
}

/* .signup-form-center-div {

} */


.signup-form-background {
    display: flex;
    width: 20vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
