
header {
    /* width: 100%; */
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
    width: 100vw;
    background: linear-gradient(0deg, rgba(87,87,87,1) 0%, rgba(63,80,86,1) 78%);
    position: fixed;
    top: 0;
    z-index: 1;
    /* display: flex; */
    /* height: 50px; */
}

.nav_list {
    width: auto;
    /* float:left; */
    margin-top: 8px;
}

.nav_list > li {
    padding: 15px 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header_logo_container {
    margin-bottom: 5px;
    height: 35px;
    width: 175px;
    margin-right: auto;
}

.header_logo {
    width: 100%;
    height: 100%;
}


.profile-dropdown {
    position: absolute
}

.nav_ele {
    margin-right: 20px;
    color: black;
}

.profile_button {
    margin-right: 30px;
}

.profile-dropdown li {
    color: lightgray;
    padding: 5px;
    width: 138px;
    display: block;
    border: 1px solid black;
}

.div_dropdown {
    margin-top: 24px;
    position: absolute;
    background-color: #2c2c2c;
    width: 150px;
    height: 200px;
}

.clickable-dropdown:hover {
    color: white;
    cursor: pointer;
}
